h1 Page under construction
p Hello.
p I hope this page finds you well. It is currently an empty, desolate place.
p But in the future, the page will be populated with my experiences with and my view about mental illness. I would like to promote a culture where there is no stigma or judgment surrounding mental health.
p You are awesome and you deserve to exist.</p>
